ros-humble-turtlebot3
ros-humble-turtlebot3-simulations
ros-humble-turtlebot3-bringup
ros-humble-turtlebot3-msgs
ros-humble-cartographer
ros-humble-cartographer-ros
ros-humble-slam-toolbox
ros-humble-nav2-bringup
ros-humble-navigation2
ros-humble-nav2-msgs
ros-humble-behavior-tree-cpp-v3
ros-humble-cartographer
ros-humble-cartographer-ros
ros-humble-gazebo-ros-pkgs
ros-humble-rviz2
ros-humble-vision-opencv
ros-humble-rclpy
ros-humble-ros2launch
ros-humble-ros2-control
ros-humble-tf2-tools
python3-numpy
python3-scipy
python3-matplotlib
python3-pandas
python3-torch
python3-tensorflow
python3-torchvision
ros-humble-cv-bridge
libopencv-dev
python3-opencv
watchdog
